* {
    box-sizing: border-box;
}

body {
    background-image: url('../assets/origbig.png');
    background-size: cover;
    height: 100vh;
    margin: 0;
  }

.darkmode {
    background-image: url('../assets/darkmodebg.png');
}

.container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.grass {
    background-image: url('../assets/grass.jpg');
    background-size: contain;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    height: 600px;
    width: 700px;
}

.grass div {
    border: 1px solid 
    height: 5%;
    width: 5%;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: "DotGothic16", sans-serif;
    font-size: 2.5em;
    color: rgb(231, 172, 84);
}

.grass div.sprite {
    background-image: url('../assets/snake-sprite.png');
    background-repeat: no-repeat;
    background-size: contain;
} 

/* Appears tiny, doesn't allow 'contain' or 'fill' and .gif not moving*/
.mouse {
    background-image: url('../assets/MouseRun.gif')
}

.game-over {
    display: flex;
    flex-flow: column-reverse wrap;
    justify-content: space-between;
    align-items: center;
    font-family: "DotGothic16", sans-serif;
}

#message {
    position: absolute;
}

#restart {
    font-family: "DotGothic16", sans-serif;
    background-color: rgb(231, 172, 84);
}

#theme {
    visibility: hidden;
    font-family: "DotGothic16", sans-serif;
    background-color: rgb(231, 172, 84);
}

/*Would like to add a water gif but the class is already assigned the grass png*/ 
.grass div.wall {
    background-color: black;
}

.hidden {
    visibility: hidden;
}