* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: space-evenly;
    flex-direction: column;
    background-image: url('../assets/origbig.png');
    background-size: cover;
    height: 100vh;
    margin: 0;
  }

header {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.title {
    background-image: url('../assets/serpens.js\ \(2\).png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    width: 250px;
}

.darkmode {
    background-image: url('../assets/darkmodebg.png');
}

.container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.grass {
    background-image: url('../assets/grassbg.png');
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 0 20px 50px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    height: 600px;
    width: 700px;
}

.grass div {
    height: 5%;
    width: 5%;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: "DotGothic16", sans-serif;
    font-size: 2.5em;
    color: rgb(231, 172, 84);
}

.grass div.sprite {
    background-image: url('../assets/snake-sprite.png');
    background-repeat: no-repeat;
    background-size: contain;
} 

.croissant {
    background-image: url('../assets/croissant.gif');
    background-size: contain;
    background-repeat: no-repeat;
}

.game-over {
    display: flex;
    flex-flow: column-reverse wrap;
    justify-content: space-between;
    align-items: center;
    font-family: "DotGothic16", sans-serif;
}

#message {
}

#restart {
    font-family: "DotGothic16", sans-serif;
    background-color: rgb(231, 172, 84);
}

#theme {
    visibility: hidden;
    font-family: "DotGothic16", sans-serif;
    background-color: rgb(231, 172, 84);
}

.grass div.wall {
}

.hidden {
    visibility: hidden;
}